* {
  margin: 0;
  font-family: verdana;
  font-size: 14pt;
}

.wrapper {
  background-color: #ff3333;
  width: 900px;
}

header {
  background-color: #00c9fd;
  width: 900px;
}
header h1 {
  color: rgb(255,255,255);
  font-size: 30pt;
  font-family: impact;
  padding: 20px 5px 5px 5px;
}

nav {
  background-color: #cccccc;
  width: 900px;
}
nav a {
  font-family: impact;
  font-size: 14pt;
  color: black;
  text-decoration: none;

  display: inline-block;
  width: 200px;
  height: 50px;

  text-align: center;
  line-height: 50px;
}
nav a:hover {
  background-color: white;
}

#bigimage img {
  width: 900px;
  display: block;
}
#bigimage p {
  font-size: 12pt;
  padding: 20px;
}

article {
  background-color: #cccccc;
  width: 900px;
}

#contact {
  background-color: #cccccc;
  width: 900px;
}

footer {
  background-color: #00c9fd;
  width: 900px;
}
