* {
  font-family: Verdana;
  font-size: 14pt;
  margin: 0;
}

#wrapper {
  background-color: white;
  width: 900px;
}

header {
    background-color: #00c9fd;
   width: 900px;
   margin: auto;
}
header h1 {
  padding: 20px 5px 5px 5px;
  color: rgb(255, 255, 255);
  font-size: 30pt;
  font-family: impact;
}


nav {
  background-color: #cccccc;
  width: 900px;
  margin: auto;
}
nav a {

  font-family: impact;
  font-size: 15pt;
  color: black;
  text-decoration: none;

  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;

  float: right;
}
nav a:hover {
  background-color: white;
  color: black;
}
.focus {
  color: #00c9fd;
}

#bigimage {
  width: 900px;
  display: block;
}
#bigimage p {
  color: #00c9fd;
  background-color: #ffffff;
  font-size: 12pt;
  margin: 20px 10px;
  width: 350px;
}

article, #contact {
  background-color: #cccccc;
  margin: 20px 0 20px 0;
}
article h1{
  font-weight: bold;
  font-size: 150%;
  padding: 10px;
  font-family: impact;
  text-align: center;
}
article img {
  float: right;
  margin: 20px;

}
article a {
  font-weight: bold;
  color: #00c9fd;
  text-decoration: none;
}
article a:hover {
  font-size: 105%;
  color: black;
}
#contact {
  height: 50px;
  margin: 0;
}
#contact a {
  font-weight: bold;
  color: black;
  text-decoration: none;

  display: inline-block;
  padding: 12px;
}
#contact a:hover {
  font-size: 105%;
  color: black;
}

footer {
  height: 110px;
  background-color: #00c9fd;
}
footer p {
  color: white;
  padding: 10px
}
